.row{
  text-align: center;

}

html, body {

  font-family: "Snowburst One", cursive;

}


.page-footer {
  color: #1974ff;
  clear: both;
  margin: 0px;
  padding: 0.75em 0.75em;
  background: rgb(76,56,9);
  position: relative;
  top: 50px;
  border-top: 1px solid #8bc34a;
}


.logo-lg {
    border-bottom: 1px solid #8BC34a;
  }

.navbar-nav > li :hover {
  color: brown;

}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #eae184;
}

i {
  color: #8BC34a;
}
h4 a {padding-bottom: 0px;}

.carousel-inner .item img {
  height: 200px;
  width: 300px;
}

.carousel-indicators .active{
  background-color:#E4BA3C;
}

.carousel-indicators li{
  border-color:#B0DC7D;
}

/*deer css*/

body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}


.deer {
  animation: deer-walk steps(18) 3.0s infinite;
  background: url('http://www.ucsc.edu/features/images/rachel-carson-college/deer-v1.svg') 0 60px no-repeat;
  height: 93.75px;
  width: 150px;
  z-index: 2;
  margin-top:0px;
}

@keyframes deer-walk {
  0% {
    background-position: 0 0;
    margin-left: 0;
    opacity: 1;
  }
  100% {
    background-position: 0 -1687.5px;
    margin-left:  1200px;
    opacity: 1;
  }
}


/*end of deer css*/
