.row{
  text-align: center;

}

html, body {

  font-family: "Snowburst One", cursive;

}


.page-footer {
  color: #1974ff;
  clear: both;
  margin: 0em 0em 0em 0em;
  padding: 0.75em 0.75em;
  background: rgba(76,56,9,0.88);
  position: relative;
  top: 50px;
  border-top: 1px solid #8bc34a;
}


.logo-lg {
    border-bottom: 1px solid #8BC34a;
  }

  .navbar-nav > li :hover {
    color: brown;

  }



  i {
    color: #8BC34a;

  }

  button {width:10em}
  button:hover span {display:none}
  button:hover:before {content:"Who We Are"; color: #8bc34a}
